* {
  box-sizing: border-box;
}
body {
  margin: 1em;
  font: 1.2em/1.3em 'PingFang SC', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif;
color: #fff;
}
h1 {
  font-weight: normal;
  text-align: center;
}
p {
  margin: 0 0 1em 0;
}
.full-page {
  height: 100vh;
}
#main {
 margin: 0;
 padding: 0;
 height: calc(100vh - 200px);
 display: -webkit-flex;
 display: flex;
 -webkit-flex-flow: row;
 flex-flow: row;
}

header,
footer,
#main > article,
#main > nav,
#main > aside {
 margin: 4px;
 padding: 1em;
}

#main > article {
 background: #e5e5e5;
 -webkit-flex: 4 1 0;
         flex: 4 1 0;
 -webkit-order: 2;
         order: 2;
}

#main > nav,
#main > aside {
 background: #663;
 -webkit-flex: 1 6 0;
         flex: 1 6 0;
}
#main > nav {
 -webkit-order: 1;
         order: 1;
}

#main > aside {
 -webkit-order: 3;
         order: 3;
}

header, footer {
 display: block;
 min-height: 80px;
}

header {
 background: #633;
}

footer {
background: #c66;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main, #page {
  -webkit-flex-flow: column;
          flex-flow: column;
}

 #main > article, #main > nav, #main > aside {
  /* Return them to document order */
  -webkit-order: 0;
          order: 0;
 }

 #main > nav, #main > aside, header, footer {
  min-height: 50px;

 }
}
