.toutiao-web {
	font: 12px/1.14 PingFang SC, Hiragino Sans GB, Microsoft YaHei,
		WenQuanYi Micro Hei, Helvetica Neue, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #333;
	/* outline: 0; */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.top-header {
	margin-bottom: 16px;
}

.main-content {
	flex: 1;
	display: flex;
	align-self: center;
	width: 85%;
}

.left {
	/* width: 20%;
  height: 90vh;
  order: -1;

  flex: 1; */
	order: -1;
	flex: 0 0 12em;
}

.center {
	flex: 1;
	background-color: brown;
}

.right {
	flex: 0 0 340px;
}
