
@import '~antd/dist/antd.css';
.App {
  /* font: 12px/1.14 PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  display: flex;
  min-height: 100vh;
  flex-direction: column; */
}
